@font-face {

    font-family: 'GoogleSans-Regular';

    src: url("google-sans-flex-latin-400-normal.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}